# Gradle / Android
*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx

# Local config
local.properties

# IntelliJ / Android Studio
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# OS
.DS_Store
